@{
    ViewData["Title"] = "Accueil";
}

<h1>Bienvenue dans LibraryApp</h1>

<div class="mt-4">
    <a class="btn btn-primary mr-2" href="/Books">Voir les livres</a>
    <a class="btn btn-success mr-2" href="/Account/Register">S'inscrire</a>
    <a class="btn btn-info" href="/Account/Login">Se connecter</a>
</div>
